.laser {
    width : 10px;
    height : 2px;
    background : red;
    position : absolute;    
}

.meteor {
    width : 20px;
    height : 20px;
    position : absolute;
    background : grey;    
}

.star {
    width: 2px;
    height: 2px;
    border-radius: 1px;
    background: white;
    position: absolute;   
     
}